<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>

            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>

        </encoder>

    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">

        <file>logs/application.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">

            <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>

        </encoder>

        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">

            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter"/>

            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>

            <appendLineSeparator>true</appendLineSeparator>

        </layout>

    </appender>

    <logger name="logger" additivity="false" level="info">

        <appender-ref ref="SAVE-TO-FILE"/>

        <appender-ref ref="STDOUT"/>

    </logger>

    <root level="INFO">

        <appender-ref ref="STDOUT"/>

        <appender-ref ref="SAVE-TO-FILE"/>

    </root>

</configuration>

